
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">NAME</label>
                    <input type="text" name="name" [(ngModel)]="name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">IMAGE</label>
                    <input type="text" name="image" [(ngModel)]="image" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">CATEGORY</label>
                    <input type="text" name="category" [(ngModel)]="category" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">PRICE</label>
                    <input type="text" name="price" [(ngModel)]="price" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">DESCRIPTION</label>
                    <textarea name="description" [(ngModel)]="description" cols="30" rows="10" class="form-control" ></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <button (click)="readValues()" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
